SEKRET_KEY = 01024756410AHMED
EXPIREDIN = 10h
BCRYPT_SEKRET_KEY = 10


DATABASE_URL=postgres://postgres:01024756410ahmed@localhost:5432/hospital
DB=hospital
DB_ENVIRONMENT=development
DB_HOST=localhost
DB_PASS=01024756410ahmed
DB_PORT=5432
DB_USER=postgres
NODE_ENV=development